<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link href="css/shop-homepage.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <span id="app">
    <div class="navbar bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Livecode1</a>
        <div class="alert alert-danger" v-if="failedLogin">EMAIL ATAU PASSWORD SALAH</div>
        <div class="header-right" v-if="!token">
          <input type="email" placeholder="email" v-model="email">
          <input type="password" placeholder="password" v-model="password">
          <button v-on:click="login">Login</button>
        </div>
        <button v-on:click="logout" v-if="token">Logout</button>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container container-content">
      <div class="row">
        <div class="col-lg-3">
          <div class="list-group">
            <a href="#" class="list-group-item">All Quotes</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <div class="row" v-if="token">
            <div class="col-lg-9 col-sm-9 portfolio-item">
              <form>
                <div class="form-group">
                  <textarea class="form-control" rows="3" placeholder="Quotes" v-model="newQuote"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" v-on:click="createQuote">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <hr>
          <div class="row">


            <div class="col-lg-6 col-sm-6 portfolio-item" v-for="quote in quotes">
              <div class="card h-70">
                <div class="card-body">
                  <h4 class="card-title">{{ quote.status }}</h4>
                  <div>
                    <a href="#" v-if="quote.user === id" v-on:click="deleteQuote(quote._id)">Delete</a> | <a href="#" v-on:click="translateQuote(quote.status)">Translate</a>
                  </div>
                  <p class="translate font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </span>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <script src="js/index.js"></script>

</body>

</html>